<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <section class="why-choose-us">
                        <h2>Why Choose Us?</h2>
                        <ul>
                            <li><strong>Highly Skilled Team:</strong> Our team comprises seasoned professionals committed to delivering exceptional services.</li>
                            <li><strong>Approach:</strong> We prioritize your requirements and collaborate closely with you to achieve your objectives.</li>
                            <li><strong>Cutting-Edge Solutions:</strong> We continuously stay abreast of the latest technological advancements to offer innovative and effective solutions.</li>
                        </ul>
                      </section>               
                      <br>         
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>