<section class="hero is-fullheight has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <!--
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                -->
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen"
                    id="about-text">
                    <section class="why-choose-us">
                        <h2 id="why-choose-gmbs-consulting-">Why Choose GMBS Consulting?</h2>
                        <h3 id="deep-experience-broad-perspective">Mapping and Statistics that make a Difference</h3>
                        <ul>
                            <li><strong>Voter Turnout and Canvassing Mapping</strong>: Served as Data Director in political campaigns, 
                                providing insights that turned close elections into victories.</li>
                            <li><strong>Socio-Economic Impact Studies</strong>: Co-author of the 
                                <a href="https://www.memphis.edu/socialwork/research/poverty_fact_sheets.php">Memphis Poverty Fact Sheet</a>, 
                                an annual statistical report that analyzes and tracks poverty trends, demographics, and disparities in Memphis 
                                and Shelby County using U.S. Census data. </li>
                            <li><strong>Spatial Data Visualization</strong>: 
                                <a href="https://www.gmbs-consulting.com/mpfs/">Memphis Poverty Fact Sheet Dashboard</a> serves as the online 
                                repository and visualization tool for the Memphis Poverty Fact Sheet</li>
                        </ul>
                    </section>
                    <section class="human-intelligence">
                        <h3 id="human-intelligence-meets-data-science">Human Intelligence Meets Data Science</h3>
                        <p>While AI is a powerful tool, it’s only part of the equation. At GMBS Consulting, we blend
                            advanced analytics with human insight to ensure your data is interpreted with context,
                            nuance, and ethical responsibility.</p>
                        <ul>
                            <li><strong>Bias &amp; Fairness</strong>: We identify and mitigate bias, ensuring your data
                                tells the true story.</li>
                            <li><strong>Contextual Understanding</strong>: Our team brings cultural, historical, and
                                sector-specific knowledge to every project.</li>
                            <li><strong>Transparent Results</strong>: We make data-driven decisions understandable and
                                actionable for all stakeholders.</li>
                        </ul>
                        <h3
                            id="while-ai-can-significantly-enhance-data-analysis-human-expertise-is-crucial-for-ensuring-accurate-ethical-and-contextually-appropriate-interpretations-">
                            While AI can significantly enhance data analysis, human expertise is crucial for ensuring
                            accurate, ethical, and contextually appropriate interpretations.</h3>
                    </section>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/project"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projects
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>